# Pair Group By and Apply

In [5]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("world_data_full.csv")
df

,Unnamed: 0,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,...,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,...,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,...,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,...,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",6.42375,-66.58973
191,191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,...,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",14.058324,108.277199
192,192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,...,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",15.552727,48.516388
193,193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,...,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",-13.133897,27.849332
194,194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,...,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",-19.015438,29.154857

In [4]:
df[["population","land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitude", "longitude", "density", "cpi"]]

,population,land_area,armed_forces_size,co2-emissions,gdp,population,urban_population,latitude,longitude,density,cpi
0,"38,041,754","652,230","323,000","8,672","19,101,353,833","38,041,754","9,797,273",33.93911,67.709953,60,149.9
1,"2,854,191","28,748","9,000","4,536","15,278,077,447","2,854,191","1,747,593",41.153332,20.168331,105,119.05
2,"43,053,054","2,381,741","317,000","150,006","169,988,236,398","43,053,054","31,510,100",28.033886,1.659626,18,151.36
3,"77,142",468,NaN,469,"3,154,057,987","77,142","67,873",42.506285,1.521801,164,NaN
4,"31,825,295","1,246,700","117,000","34,693","94,635,415,870","31,825,295","21,061,025",-11.202692,17.873887,26,261.73
...,...,...,...,...,...,...,...,...,...,...,...
190,"28,515,829","912,050","343,000","164,175","482,359,318,768","28,515,829","25,162,368",6.42375,-66.58973,32,"2,740.27"
191,"96,462,106","331,210","522,000","192,668","261,921,244,843","96,462,106","35,332,140",14.058324,108.277199,314,163.52
192,"29,161,922","527,968","40,000","10,609","26,914,402,224","29,161,922","10,869,523",15.552727,48.516388,56,157.58
193,"17,861,030","752,618","16,000","5,141","23,064,722,446","17,861,030","7,871,713",-13.133897,27.849332,25,212.31
194,"14,645,468","390,757","51,000","10,983","21,440,758,800","14,645,468","4,717,305",-19.015438,29.154857,38,105.51

## Apply exercises

In [ ]:
# 1) Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, 
# longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. 
# Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

def df_cambiar_coma(cadena):
    try:
        return float(cadena.replace(",","."))
    except: 
        return np.nan

list_to_transform = ["population","land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitude", "longitude", "density", "cpi"]

for col in list_to_transform:
    df[col] = df[col].apply(df_cambiar_coma)
    print(df[col].dtype)

In [27]:
# 2) Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué 
# continente pertenece cada país.

paises_continentes = {
    "Afghanistan": "Asia",
    "Albania": "Europa",
    "Algeria": "África",
    "Andorra": "Europa",
    "Angola": "África",
    "Antigua and Barbuda": "América",
    "Argentina": "América",
    "Armenia": "Asia",
    "Australia": "Oceanía",
    "Austria": "Europa",
    "Azerbaijan": "Asia",
    "Bahamas": "América",
    "Bahrain": "Asia",
    "Bangladesh": "Asia",
    "Barbados": "América",
    "Belgium": "Europa",
    "Belize": "América",
    "Benin": "África",
    "Bhutan": "Asia",
    "Bolivia": "América",
    "Bosnia and Herzegovina": "Europa",
    "Botswana": "África",
    "Brazil": "América",
    "Brunei": "Asia",
    "Bulgaria": "Europa",
    "Burkina Faso": "África",
    "Burundi": "África",
    "Cabo Verde": "África",
    "Cambodia": "Asia",
    "Cameroon": "África",
    "Canada": "América",
    "Chad": "África",
    "Chile": "América",
    "China": "Asia",
    "Colombia": "América",
    "Comoros": "África",
    "Republic of the Congo": "África",
    "Democratic Republic of the Congo": "África",
    "Costa Rica": "América",
    "Croatia": "Europa",
    "Cuba": "América",
    "Cyprus": "Asia",
    "Czech Republic": "Europa",
    "Denmark": "Europa",
    "Djibouti": "África",
    "Dominica": "América",
    "Dominican Republic": "América",
    "East Timor": "Asia",
    "Ecuador": "América",
    "Egypt": "África",
    "El Salvador": "América",
    "Equatorial Guinea": "África",
    "Eritrea": "África",
    "Estonia": "Europa",
    "Eswatini": "África",
    "Ethiopia": "África",
    "Fiji": "Oceanía",
    "Finland": "Europa",
    "France": "Europa",
    "Gabon": "África",
    "Gambia": "África",
    "Georgia": "Asia",
    "Germany": "Europa",
    "Ghana": "África",
    "Greece": "Europa",
    "Grenada": "América",
    "Guatemala": "América",
    "Guinea": "África",
    "Guinea-Bissau": "África",
    "Guyana": "América",
    "Haiti": "América",
    "Honduras": "América",
    "Hungary": "Europa",
    "Iceland": "Europa",
    "India": "Asia",
    "Indonesia": "Asia",
    "Iran": "Asia",
    "Iraq": "Asia",
    "Ireland": "Europa",
    "Israel": "Asia",
    "Italy": "Europa",
    "Jamaica": "América",
    "Japan": "Asia",
    "Jordan": "Asia",
    "Kazakhstan": "Asia",
    "Kenya": "África",
    "Kiribati": "Oceanía",
    "North Korea": "Asia",
    "South Korea": "Asia",
    "Kosovo": "Europa",
    "Kuwait": "Asia",
    "Kyrgyzstan": "Asia",
    "Laos": "Asia",
    "Latvia": "Europa",
    "Lebanon": "Asia",
    "Lesotho": "África",
    "Liberia": "África",
    "Libya": "África",
    "Liechtenstein": "Europa",
    "Lithuania": "Europa",
    "Luxembourg": "Europa",
    "Madagascar": "África",
    "Malawi": "África",
    "Malaysia": "Asia",
    "Maldives": "Asia",
    "Mali": "África",
    "Malta": "Europa",
    "Marshall Islands": "Oceanía",
    "Mauritania": "África",
    "Mauritius": "África",
    "Mexico": "América",
    "Micronesia": "Oceanía",
    "Moldova": "Europa",
    "Monaco": "Europa",
    "Mongolia": "Asia",
    "Montenegro": "Europa",
    "Morocco": "África",
    "Mozambique": "África",
    "Myanmar": "Asia",
    "Namibia": "África",
    "Nauru": "Oceanía",
    "Nepal": "Asia",
    "Netherlands": "Europa",
    "New Zealand": "Oceanía",
    "Nicaragua": "América",
    "Niger": "África",
    "Nigeria": "África",
    "North Macedonia": "Europa",
    "Norway": "Europa",
    "Oman": "Asia",
    "Pakistan": "Asia",
    "Palau": "Oceanía",
    "Panama": "América",
    "Papua New Guinea": "Oceanía",
    "Paraguay": "América",
    "Peru": "América",
    "Philippines": "Asia",
    "Poland": "Europa",
    "Portugal": "Europa",
    "Qatar": "Asia",
    "Romania": "Europa",
    "Russia": "Europa",
    "Rwanda": "África",
    "Saint Kitts and Nevis": "América",
    "Saint Lucia": "América",
    "Saint Vincent and the Grenadines": "América",
    "Samoa": "Oceanía",
    "San Marino": "Europa",
    "Sao Tome and Principe": "África",
    "Saudi Arabia": "Asia",
    "Senegal": "África",
    "Serbia": "Europa",
    "Seychelles": "África",
    "Sierra Leone": "África",
    "Singapore": "Asia",
    "Slovakia": "Europa",
    "Slovenia": "Europa",
    "Solomon Islands": "Oceanía",
    "Somalia": "África",
    "South Africa": "África",
    "South Sudan": "África",
    "Spain": "Europa",
    "Sri Lanka": "Asia",
    "Sudan": "África",
    "Suriname": "América",
    "Sweden": "Europa",
    "Switzerland": "Europa",
    "Syria": "Asia",
    "Taiwan": "Asia",
    "Tajikistan": "Asia",
    "Tanzania": "África",
    "Thailand": "Asia",
    "Togo": "África",
    "Tonga": "Oceanía",
    "Trinidad and Tobago": "América",
    "Tunisia": "África",
    "Turkey": "Asia",
    "Turkmenistan": "Asia",
    "Tuvalu": "Oceanía",
    "Uganda": "África",
    "Ukraine": "Europa",
    "United Arab Emirates": "Asia",
    "United Kingdom": "Europa",
    "United States": "América",
    "Uruguay": "América",
    "Uzbekistan": "Asia",
    "Vanuatu": "Oceanía",
    "Venezuela": "América",
    "Vietnam": "Asia",
    "Yemen": "Asia",
    "Zambia": "África",
    "Zimbabwe": "África"
}


for country in df["country"]:
    continent = paises_continentes.get(country)
    print(continent)
    df["Continent"] = continent

Asia
Europa
África
Europa
África
América
América
Asia
Oceanía
Europa
Asia
None
Asia
Asia
América
None
Europa
América
África
Asia
América
Europa
África
América
Asia
Europa
África
África
None
None
Asia
África
América
None
África
América
Asia
América
África
África
América
Europa
América
Asia
Europa
África
Europa
África
América
América
América
África
América
África
África
Europa
África
África
Oceanía
Europa
Europa
África
None
Asia
Europa
África
Europa
América
América
África
África
América
América
None
América
Europa
Europa
Asia
Asia
Asia
Asia
None
Asia
Europa
América
Asia
Asia
Asia
África
Oceanía
Asia
Asia
Asia
Europa
Asia
África
África
África
Europa
Europa
Europa
África
África
Asia
Asia
África
Europa
Oceanía
África
África
América
None
Europa
Europa
Asia
Europa
África
África
Asia
África
Oceanía
Asia
Europa
Oceanía
América
África
África
Asia
Europa
Europa
Asia
Asia
Oceanía
None
América
Oceanía
América
América
Asia
Europa
Europa
Asia
Europa
Europa
África
América
América
América
Oceanía
Europa
None
Asia
África
Europa
África
África
Asia
Europa
Europa
Oceanía
África
África
Asia
África
Europa
Asia
África
América
Europa
Europa
Asia
Asia
África
Asia
Asia
África
Oceanía
América
África
Asia
Asia
Oceanía
África
Europa
Asia
Europa
América
América
Asia
Oceanía
América
Asia
Asia
África
África

In [26]:
df["Continent"].value_counts()

África    195
Name: Continent, dtype: int64

In [15]:
x = df["country"]

In [16]:
x

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: country, Length: 195, dtype: object